{% extends "hotel/base.html" %}
{% block content %}
  <div class="content-section">
    <form action="{% url 'hotel-list' %}" method="get">
      <input name="address" type="text" placeholder="Search hotel..."> <br/>
      {% if user.is_authenticated %}
        {% if not user.is_hotel_manager %}
          <input name="start_date" type="date" placeholder="Check-in date">
          <input name="end_date" type="date" placeholder="Check-out date"> <br/>
          <input name="num_people" type="number" placeholder="Number of people">
          <input name="num_rooms" type="number" placeholder="Number of rooms">
        {% endif %}
      {% else %}
          <input name="start_date" type="date" placeholder="Check-in date">
          <input name="end_date" type="date" placeholder="Check-out date"> <br/>
          <input name="num_people" type="number" placeholder="Number of people">
          <input name="num_rooms" type="number" placeholder="Number of rooms">
      {% endif %}
      <input type="submit" />
    </form>
  </div>
{% endblock content %}