{% extends "hotel/base.html" %}
{% block content %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ object.manager }}</a>
          <small class="text-muted">{{ object.address }}</small>
            {% if object.manager == user %}
              <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'hotel-update' object.id%}">Update</a>
                <a class="btn btn-dangerous btn-sm mt-1 mb-1" href="{% url 'hotel-delete' object.id%}">Delete</a>
              </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-web_url">{{ object.web_url }}</p>
      </div>
    </article>
{% endblock content %}